body,
html {
	background-image: url('../images/background.jpg');
	border: transparent solid 1px;
}
img {
    width: 29%;
    margin: 1px;
  }

.co-container {
	display: flex;
	flex-direction: column;
	background-color: grey;
	padding: 1px;
	margin: 10%;
	box-shadow: 10px 5px 5px gray;
}

.co-block1--container1 {
	flex: 1;
	border: 1px;
	margin: 1px;
	display: flex;
	line-height: 30px;
	background-color: white;
	justify-content: space-between;
}

.co-block2--container2 {
	flex: 1;
	display: flex;
	padding: 1px;
	margin: 1px;
	background-color: white;
}

ul.co-breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

.co-item--checkout {
	flex: 1;
	display: flex;
	margin: 1px;
	margin-right: 0.2%;
	justify-content: space-between;
}

.co-checkout1 {
	display: inline;
	flex: 5;
}

ul.co-breadcrumb li {
    display: inline;
    font-size: 15px;
}

.co-flex--paymentblock {
	display: flex;
	flex: 4;
	height: 100%;
	flex-direction: column;
	background-color: white;
}

.co-cartblock {
	display: flex;
	flex: 2;
	width: 40%;
	background-color: rgba(169, 169, 169, 0.74);
	flex-grow: 1;
    position: relative;
}

.icon {
	padding: 20px;
}

.image {
	margin-left: 1%;
    margin-right: -5%;
    margin-top: 5%;
}

.co-image {
	border: 1px solid grey;
    border-radius: 4px;
	padding: 1%;
}

.co-img {
	width: 100%;
	padding: 0%;
	margin: auto;
}

.co-image:hover {
	opacity: .5;
}

.co-ncard {
	max-width: 350px;
    margin: 10px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 5%;
    height: 10%;
    text-align: center;
}

.co-wallet {
	padding-top: 2%;
	flex: 1;
	height: 40%;
}

.co-first {
	margin-left: 2%;
	margin-top: 2%;
	flex: auto;
	height: 0%;
}

div.amt {
	margin-top: 0%;
	text-align: justify;
}

.co-product {
	flex: 1;
}

.item {
	display: flex;
	flex-direction: row;
	flex: 2;
}

.item-image {
	margin-top: 2px;
	border: 5px solid grey;
	width: 50px;
	height: 50px;
}

.amt {
	flex: 6;
	margin:0%;
	margin-left: 1%;
	font-size: medium;
}

.buy {
	margin: 0%;
	margin-left: 1%;
	flex: 1;
	text-align: left;
	font-size: 14px;
}

.price {
	flex: 1;
	font-size: 12px;
	text-align: right;
	margin: 0%;
  	position: relative;
  	margin-right: 2%;
}

#name {
	margin-left: 25%;
    width: 45%;
    border-radius: 5px;
	padding: 2%;
	margin-top: 5%;
	margin-bottom: .2%;
}

#acc {
	margin-left: 25%;
    width: 45%;
    border-radius: 5px;
	padding: 2%;
	margin-top: -8px;
	margin-bottom: .2%;
}

#exp {
	margin-left: 25%;
	margin-right: .5%;
	border-radius: 5px;
	width: 22%;
	padding: 1%;
	margin-top: -8px;
}

#cvv {
	width: 21%;
	padding: 1%;
	border-radius: 5px;
	margin-left: .2%;
	margin-top: -8px;
}

#button {
	color: white;
	width: 50%;
    background-color: green;
    margin-left: 25%;
	padding: 2%;
	margin-top: .5%;
	margin-bottom: .5%;
}

summary.buy {
	margin-left: 1%;
	flex: 1;
	text-align: left;
	font-size: 10px;
}

.second {
	margin-top: 15%;
    margin-left: 2%;
    margin-bottom: 3%;
	flex: auto;
}

@media screen and (min-width:992px)
  {
    .co-container{
      margin-left: 100px;
      margin-right: 100px;
    }
    .co-block2--container2{
      flex: 3;

    }
    .co-cartblock{
      display: flex;
      flex: 2;
    }
  }
@media screen and (max-width:992px)
{
  .co-container{
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:992px)
{
  .co-flex--paymentblock{
    flex: 1;
  }
  .co-cartblock{
    flex: 1;
  }
}
@media screen and (max-width:600px){
.co-block2--container2{
  flex-direction: column-reverse;
}
.co-cartblock{
  width: 100%;
}
.co-flex--paymentblock{
  width: 100%;
}

}
@media screen and (max-width:768px) 
{
.co-checkout1{
  display: none;
}
.co-flex--paymentblock{
  width: 100%;
}
.co-cartblock{
  width: 100%;
}
}
@media screen and (max-width:400px)
{
  .image{
    display: flex;
    flex-direction: column;
  }
  img {
    width: 78%;
    margin: 25px;
    }
}