body, html{
    background-image: url('../images/background.jpg');
    border: transparent solid 1px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color:grey;
    padding: 1px;
    margin: 10%;
    box-shadow: 10px 5px 5px gray;
}

.block1 {
    flex: 1;
    border: 1px;
    margin: 1px;
    display: flex;
    line-height: 43px;
    background-color:white;
    justify-content: space-between;
}

.block2 {
    flex: 1;
    display: flex;
    padding: 1px;
    margin: 1px;
    background-color: white;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.checkout {
    flex: 1;
    display: flex;
    margin: 1px;
    margin-right: 0.2%;
    justify-content: space-between;
}

.checkout1 {
    display: inline;
    flex:5;
}

.breadcrumb {
    display:flex;
}

.paymentblock {
    display: flex;
    flex: 6;
    width: 20%;
    flex-direction: column;
    background-color:white;
}

.cartblock {
    display: flex;
    flex: 6;
    width: 50%;
    background-color: #EFF1F0;flex: 4;
    
}

.icon {
    display: flex;
    flex: 0;
    margin: 2px;
}

.image {
    flex-direction: row;
    display: flex;
}

.co_image {
    flex: 1;
    flex-direction: row ;
    padding: 1%;
    color: black;
    font-size: small;
}
.co_img {
    width: 100%;
    padding: 0%;
    margin: auto;
}


.co_image:hover {
    border-radius: 1px;
    border: 2px solid #e4e4e4;
    background-color: #e4e4e4;
}

.n_card {
    color: gray;
    padding-top: 2%;
    flex: 2;
}

.wallet {
    color: gray;
    padding-top: 2%;
    flex: 2;
}

.first {
    margin-left: 2%;
    margin-top: 2%;
    flex: auto;
}

div.amt {
    text-align: justify;
}

.co_item {
    flex: 1;
}

.item {
    display: flex;
    flex-direction: row;
    flex: 2;
    
}

.item_image {
    border: 5px solid #B2B7B3;
    padding: 3%;
    width: 40px;
    height: 40px;
}

.amt {
    flex: 6;
    margin-left: 1%;
    font-size: medium;
}

.buy {
    margin-left: 1%;
    flex: 1;
    color: grey;
    text-align: left;
    font-size: 14px;
}

.price {
    flex: 1;
    font-size: 15px;
    text-align: right;
    color: grey;
}

#name,
#acc {
    margin-left: 20%;
    width: 61%;
    padding: 3%;
   
}

#exp {
    margin-left: 20%;
    width: 29%;
    padding: 3%;
    
}

#cvv {
    
    width: 29%;
    padding: 3%;
    margin-left: 2%;
}

.button {
    color:white;
    width: 61%;
    background-color: #08F763 ;
    margin-left: 20%;
    padding: 3%;
}

summary.buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 14px;   
}

.second {
    padding-top: 8%;
    flex: 1;
}

.summary {
    display: flex;
    flex-direction: row;
}